# --- svelte npm usw ---
vv00/node_modules/
vv00/.svelte-kit/
vv00/build/
vv00/.env
vv00/.env.*
vv00/.output
vv00/.vercel
vv00/.netlify
vv00/.wrangler

# --- pocketbase ---
/pocketbase

# --- anderes ---
.DS_Store
Thumbs.db

# --- vs code usw ---
.vscode/
.idea/
*.log